<template>
  <q-page class="flex flex-center Page">
    <PowerSetPicker
      :class="getPowerSetPickerClass"
      @power-set-picker-select="doPowerSetPickerSelectClick" 
      @power-set-picker-cancel="doPowerSetPickerCancelClick"
    />
    <PowerPicker
      :class="getPowerPickerClass"
      @power-picker-select="doPowerPickerSelectClick" 
      @power-picker-cancel="doPowerPickerCancelClick"
      :availablePowerSets="availablePowerSets"
      :powerLevel="powerLevel"
      :powerEntry="powerEntry"
    />
    <BasicInfo 
      @power-set-clicked="showPowerSetPicker"
      :starting_name="getToonName"
      :archetype_id="getToonArchetypeId"
      :primary_name="getPrimaryPowerSetName"
      :secondary_name="getSecondaryPowerSetName"
    />
    <Build @selected-build="doBuildClicked"></Build>
    <PowerEntryGrid @power-clicked="doPowerClicked"/>
  </q-page>
</template>

<script>
import BasicInfo from 'components/BasicInfo.vue'
import Build from 'components/Build.vue'
import { getPowerLevel } from '../enums/PowerLevel.js'
import PowerEntry from 'components/PowerEntry.vue'
import PowerEntryGrid from 'components/PowerEntryGrid.vue'
import PowerPicker from 'components/PowerPicker.vue'
import PowerSetPicker from 'components/PowerSetPicker.vue'
export default {
  components: { BasicInfo, Build, PowerEntry, PowerEntryGrid, PowerPicker, PowerSetPicker },
  name: 'PageToon',
  beforeCreate: function() {
      if (null == this.$store.getters.getToon) {
        window.location.assign('/')
      }
  },
  data () {
    return {
      powerSetPickerVisible: true,
      powerPickerVisible: false,
      primary_power_set_display_name: '',
      secondary_power_set_display_name: '',
      availablePowerSets: [],
      powerLevel: 0,
      powerEntry: null,
      showSpinner: false
    }
  },
  computed: {
    getCurrentBuild: function () {
      let currentBuild = this.$store.getters.getToonCurrentBuild
      return currentBuild
    },
    getCurrentBuildNumber: function () {
      let currentBuildNumber = this.$store.getters.getToonCurrentBuildNumber
      return (null === currentBuildNumber)? 0 : currentBuildNumber
    },
    getPowerPickerClass: function() {
      if (!this.powerPickerVisible) {
        return 'Hidden'
      }
      return ''
    },
    getPowerSetPickerClass: function() {
      if (!this.powerSetPickerVisible) {
        return 'Hidden'
      }
      return ''
    },
    getPrimaryPowerSetName: function () {
      if ('' === this.primary_power_set_display_name) {
        return 'Tap to set Primary'
      }
      return this.primary_power_set_display_name
    },
    getSecondaryPowerSetName: function () {
      if ('' === this.secondary_power_set_display_name) {
        return 'Secondary'
      }
      return this.secondary_power_set_display_name
    },
    getToonArchetypeId: function () {
      let archetypeId = this.$store.getters.getToonArchetypeId
      return (null === archetypeId)? '' : archetypeId
    },
    getToonLevel: function () {
      let level = this.$store.getters.getToonLevel
      return (null === level)? 0 : level
    },
    getToonName: function () {
      let name = this.$store.getters.getToonName
      return (null === name)? '' : name
    },
  },
  methods: {
    doBuildClicked: function (build_number) {
      this.$forceUpdate()
    },
    doClick: function(event) {
      alert(JSON.stringify(event))
    },
    doPowerClicked: function (powerEntry) {
      this.powerLevel = this.getPowerLevel(powerEntry)
      this.powerEntry = powerEntry

      this.availablePowerSets = this.$store.getters.getToonAllowedPowerSets(powerEntry.level)
      if (this.primary_power_set_display_name === '') {
        this.showPowerSetPicker()
      } else {
        this.showPowerPicker()
      }
    },
    doPowerPickerCancelClick: function () {
      this.powerPickerVisible = false
    },
    doPowerPickerSelectClick: async function (powerSelection) {
      let power_entry = {
        level: getPowerLevel(this.powerEntry.level),
        power_id: powerSelection.power.id,
        tag: false,
        stat_include: true,
        variable_value: 0,
        slots: [],
        sub_powers: []
      }
      let payload = { buildPowerLevel: this.powerEntry.level, powerEntry: power_entry }
      this.$store.commit('toonSetPowerEntry', payload)
      this.powerPickerVisible = false
    },
    doPowerSetPickerCancelClick: function () {
      this.powerSetPickerVisible = false
    },
    doPowerSetPickerSelectClick: function (powerSetSelections) {
      this.$store.commit('toonSetPrimaryPowerSet', powerSetSelections.primary_power_set.id)
      this.$store.commit('toonSetSecondaryPowerSet', powerSetSelections.secondary_power_set.id)
      this.primary_power_set_display_name = powerSetSelections.primary_power_set.display_name
      this.secondary_power_set_display_name = powerSetSelections.secondary_power_set.display_name
      this.powerSetPickerVisible = false
    },
    getPowerLevel: function(power_entry) {
      return getPowerLevel(power_entry.level, this.getToonArchetypeId)
    },
    showPowerSetPicker: function() {
      this.powerSetPickerVisible = true
    },
    showPowerPicker: function() {
      this.powerPickerVisible = true
    },
  },
  watch: {
    getCurrentBuild (newBuild, oldBuild) {
      this.$forceUpdate()
    },
    getCurrentBuildNumber (newBuildNumber, oldBuildNumber) {
      this.$forceUpdate()
    }
  }
}

</script>

<style scoped lang="scss">
@import '../css/app.sass';

.Hidden {
  display: none;
}

.Page {
  position: relative;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color) !important;
  font-family: var(--theme_font_family) !important;
}

.SVGInfoButtonEnabled {
  --svg-circle-stroke: var(--theme_text_color_label);
  --svg-circle-fill: var(--theme_background_color);
  --svg-circle-stroke-width: 2;
  --svg-circle-stroke-dasharray: 0;
  --svg-text-fill: var(--theme_text_color_label);
  --svg-text-font-family: var(--theme_font_family);
  --svg-text-font-size: var(--theme_font_size_medium);
  --svg-text-font-weight: 'bold';
  --svg-text-stroke-width: 5;
  --svg-text-dominant-baseline: 'middle';
  --svg-text-anchor: 'middle';
}

</style>
