<template>
    <div class="GridWrapper">
        <div class="Title">Open</div>
        <div class="Row">
            <ImageButton id="Open_Mids" source="Reborn.png" label="Mid's Reborn" @image-button-event="doClick"/>
            <ImageButton id="Open_Dropbox" source="Dropbox.png" label="Dropbox" @image-button-event="doClick"/>
            <ImageButton id="Open_HeroBase" source="HeroBase.png" label="HeroBase" @image-button-event="doClick"/>
        </div>
        <div class="Spacer"> </div>
        <div class="Title">Create</div>
        <div class="Row">
            <ImageButton id="Class_Arachnos_Solider" source="Arachnos Soldier.png" label="Arachnos Soldier" @image-button-event="doClick"/>
            <ImageButton id="Class_Arachnos_Widow" source="Arachnos Widow.png" label="Arachnos Widow" @image-button-event="doClick"/>
            <ImageButton id="Class_Blaster" source="Blaster.png" label="Blaster" @image-button-event="doClick"/>
            <ImageButton id="Class_Brute" source="Brute.png" label="Brute" @image-button-event="doClick"/>
            <ImageButton id="Class_Controller" source="Controller.png" label="Controller" @image-button-event="doClick"/>
        </div>
        <div class="Row">
            <ImageButton id="Class_Corruptor" source="Corruptor.png" label="Corruptor" @image-button-event="doClick"/>
            <ImageButton id="Class_Defender" source="Defender.png" label="Defender" @image-button-event="doClick"/>
            <ImageButton id="Class_Dominator" source="Dominator.png" label="Dominator" @image-button-event="doClick"/>
            <ImageButton id="Class_Mastermind" source="Mastermind.png" label="Mastermind" @image-button-event="doClick"/>
            <ImageButton id="Class_Peacebringer" source="Peacebringer.png" label="Peacebringer" @image-button-event="doClick"/>
        </div>
        <div class="Row">
            <ImageButton id="Class_Scrapper" source="Scrapper.png" label="Scrapper" @image-button-event="doClick"/>
            <ImageButton id="Class_Sentinel" source="Sentinel.png" label="Sentinel" @image-button-event="doClick"/>
            <ImageButton id="Class_Stalker" source="Stalker.png" label="Stalker" @image-button-event="doClick"/>
            <ImageButton id="Class_Tanker" source="Tanker.png" label="Tanker" @image-button-event="doClick"/>
            <ImageButton id="Class_Warshade" source="Warshade.png" label="Warshade" @image-button-event="doClick"/>
        </div>
        <div class="Spacer"> </div>
        <div class="Link" @click="doTellMeClick">Tell Me About the Archetypes</div>
    </div>
</template>

<script>
import ImageButton from 'components/ImageButton.vue'

export default {
  components: { ImageButton },
  name: 'ArchetypeGrid',
  methods: {
    doClick: function (message) {
      if (message === 'Open_Mids' || message === 'Open_Dropbox' || message === 'Open_HeroBase') {
        alert('Open ' + message)
      } else {
        this.$store.commit('toonCreate', message, this.$router)
        this.$router.push('/Toon/'+ message + '/New')
      }
    },
    doTellMeClick: function (message) {
      this.$router.push('/AT')
    }
  }
}
</script>

<style scoped lang="scss">
@import '../css/app.sass';

.GridWrapper{
  padding: 10px 15px 10px 10px;
  box-shadow: var(--theme_box_shadow_image_button) !important;
}

.Title {
  @include cursor-default;
  @include column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  font-family: var(--theme_font_family);
  font-size: var(--theme_font_size_medium);
  color: var(--theme_text_color_label);
  background-color: var(--theme_background_color);
  box-shadow: var(--theme_box_shadow_small_active) !important;
  margin: 5px;
}

.Row{
    @include row;
    justify-content: center;
    width: 100%;
    height: 120px;
}

.Spacer{
    @include cursor-pointer;
    width: 100%;
    height: 10px;
}

.Link {
  @include cursor-pointer;
  @include rise;
  @include row;
  justify-content: center;
  width: 100%;
  height: 20px;
  font-family: var(--theme_font_family) !important;
  font-size: var(--theme_font_size_medium) !important;
  color: var(--theme_text_color_image_button) !important;
  background-color: var(--theme_background_color) !important;
  box-shadow: var(--theme_box_shadow_small) !important;
  &:active {
    box-shadow: var(--theme_box_shadow_small_active) !important;
    border: 2px solid var(--theme_text_color_image_button) !important;
  }
}

</style>
