<template>
    <q-drawer
        show-if-above
        bordered
        class="Drawer"
        style="height: 100%"
    >
      <q-toolbar class="TabBar">
            <q-btn
                :class="getLinkTabButtonClass"
                v-on:click="linksTab = true; settingsTab=false"
                icon="link"
                aria-label="Essential Links"
           />
            <q-btn
                :class="getSettingsTabButtonClass"
                v-on:click="linksTab = false; settingsTab=true"
                icon="settings"
                aria-label="Settings"
            />
        </q-toolbar>
        <q-select
            v-if="settingsTab"
            v-model="theme"
            input-class="Drawer"
            :options="options"
            outlined
            label="Theme"
            aria-label="Select Theme"
       />
        <q-list v-if="linksTab" class="Drawer">
            <q-item-label
                header
                class="Drawer"
            >
                Essential Links
            </q-item-label>
            <EssentialLink
                class="Drawer"
                v-for="link in essentialLinks"
                v-bind="link"
                :key="link.title"
                :aria-label="link.title"
            />
        </q-list>
    </q-drawer>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import { setThemeLight, setThemeDark, setThemeHero, setThemeVillian, setThemeGamma, setThemeNeumorphic, setThemeNeumorphicDark } from '../util/theme_utils'

const linksData = [
  {
    title: 'City of Heroes: Homecoming Forum',
    caption: 'forums.homecomingservers.com',
    icon: 'record_voice_over',
    link: 'https://forums.homecomingservers.com/forum/3-city-of-heroes-homecoming/'
  },
  {
    title: 'Mids\' Reborn Hero Designer Forum',
    caption: 'forums.homecomingservers.com',
    icon: 'record_voice_over',
    link: 'https://forums.homecomingservers.com/forum/74-forum/'
  },
  {
    title: 'City of Heroes Homecoming Discord Chat Channel',
    caption: 'chat.CoH.homecoming',
    icon: 'chat',
    link: 'https://discord.com/channels/572090223115239444/572090265678905354'
  },
  {
    title: 'Mids\' Reborn Hero Designer Discord Chat Channel',
    caption: 'chat.mids.reborn',
    icon: 'chat',
    link: 'https://discord.com/channels/593336669004890113/731584074531078232'
  }
]

export default {

  name: 'Drawer',
  components: { EssentialLink },
  data () {
    return {
      linksTab: true,
      settingsTab: false,
      essentialLinks: linksData,
      theme: this.$store.state.theme,
      options: [
        'Light', 'Dark', 'Hero', 'Villain', 'Gamma', 'Neumorphic', 'Neumorphic Dark'
      ]
    }
  },
  computed: {
    getLinkTabButtonClass () {
      if (this.linksTab) {
        return 'TabButtonPressed'
      } else {
        return 'TabButton'
      }
    },
    getSettingsTabButtonClass () {
      if (this.settingsTab) {
        return 'TabButtonPressed'
      } else {
        return 'TabButton'
      }
    }
  },
  watch: {
    theme: function (val, preVal) {
      if (val !== preVal) {
        if (val === 'Light') {
          setThemeLight()
        } else if (val === 'Dark') {
          setThemeDark()
        } else if (val === 'Hero') {
          setThemeHero()
        } else if (val === 'Villain') {
          setThemeVillian()
        } else if (val === 'Gamma') {
          setThemeGamma()
        } else if (val === 'Neumorphic') {
          setThemeNeumorphic()
        } else {
          setThemeNeumorphicDark()
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../css/app.sass';

.Drawer {
  @include cursor-default;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color) !important;
  font-family: var(--theme_font_family) !important;
}

.TabBar  {
  @include row;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color_menu_bar) !important;
  width: 100%;
  height: 35px;
  padding-top: 5px;
}

.TabButton {
  @include cursor-default;
  @include small-box;
  @include rise;
  @include cursor-pointer;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color) !important;
  font-family: var(--theme_font_family) !important;
  box-shadow: var(--theme_box_shadow_small) !important;
  border-radius: var(--theme_border_radius_image_button_image) !important;
  margin-right: 20px;
  &:active {
    box-shadow: var(--theme_box_shadow_small_active) !important;
  }
}

.TabButtonPressed {
  @include cursor-default;
  @include small-box;
  @include rise;
  @include cursor-pointer;
  color: var(--theme_text_color_button_down) !important;
  background-color: var(--theme_background_color_button_down) !important;
  font-family: var(--theme_font_family) !important;
  box-shadow: var(--theme_box_shadow_small_active) !important;
  border-radius: var(--theme_border_radius_image_button_image) !important;
  margin-right: 20px;
  &:active {
    box-shadow: var(--theme_box_shadow_small) !important;
  }
}

</style>
