
<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="Toolbar">
        <q-btn :class="getMenuButtonClass"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="ToolbarTitle" @click="goHome">
          HERO/Web
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <Drawer
      v-if="leftDrawerOpen"
      v-model="leftDrawerOpen"
    />

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer :class="getStatusBarClass">
          {{currentStatusMessage}}
    </q-footer>
  </q-layout>
</template>

<script>
import Drawer from 'components/Drawer.vue'
import { setThemeLight } from '../util/theme_utils'

export default {
  name: 'MainLayout',
  components: { Drawer },
  created: function () {
    this.monitorStatusMessages()
    this.monitorErrorMessages()
    this.$store.dispatch('loadDatabase')
    setThemeLight()   
  },
  data () {
    return {
      leftDrawerOpen: false,
      currentStatusMessage: this.getStatusMessage
    }
  },
  computed: {
    getMenuButtonClass: function () {
      if (this.leftDrawerOpen) {
        return 'MenuButtonPressed'
      } else {
        return 'MenuButton'
      }
    },
    getStatusBarClass: function () {
      if (this.$store.state.statusMessages.length === 0) {
        return 'StatusBarHidden'
      } else {
        return 'StatusBar'
      }
    },
    getStatusMessageCount: function () {
      return this.$store.state.statusMessages.length
    },
    getStatusMessage: function () {
      if (this.getStatusMessageCount === 0) {
        return ''
      }
      return this.$store.state.statusMessages[0]
    },
    getErrorMessageCount: function () {
      return this.$store.state.errorMessages.length
    },
    getErrorMessage: function () {
      if (this.getErrorMessageCount === 0) {
        return ''
      }
      return this.$store.state.errorMessages[0]
    },
  },
  methods: {
    monitorStatusMessages: function () {
      const monitor = () => {
        if (this.getStatusMessageCount === 0) {
          this.currentStatusMessage = ''
          return
        }
        this.$store.commit('removeOldestStatusMessage')
        this.currentStatusMessage = this.$store.state.statusMessages[0]
      }
      if (this.getStatusMessageCount > 0) {
        this.currentStatusMessage = this.$store.state.statusMessages[0]
      }
      setInterval(monitor, 1000)
    },
    monitorErrorMessages: function () {
      const monitor = () => {
        if (this.getErrorMessageCount === 0) {
          return
        }
        this.showErrorMessage(this.$store.state.errorMessages[0])
        this.$store.commit('removeOldestErrorMessage')
      }
      setInterval(monitor, 200)
    },
    showErrorMessage (errorMessage) {
      this.$q.notify({
        type: 'negative',
        message: errorMessage
      })
    },
    goHome: function () {
      if ('/' !== this.$router.currentRoute.path) {
        this.$router.push('/')
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../css/app.sass';

.Toolbar {
  @include cursor-default;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color_menu_bar) !important;
  font-family: var(--theme_font_family) !important;
}

.ToolbarTitle {
  @include rise
  @include cursor-pointer;
}

.MenuButton {
  @include rise;
  @include cursor-pointer;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color_menu_bar) !important;
  font-family: var(--theme_font_family) !important;
  box-shadow: var(--theme_box_shadow_image_button) !important;
  &:active {
    box-shadow: var(--theme_box_shadow_image_button_active) !important;
  }
}

.MenuButtonPressed {
  @include rise;
  @include cursor-pointer;
  color: var(--theme_text_color_button_down) !important;
  background-color: var(--theme_background_color_button_down) !important;
  font-family: var(--theme_font_family) !important;
  box-shadow: var(--theme_box_shadow_small_active) !important;
  &:active {
    box-shadow: var(--theme_box_shadow_small) !important;
  }
}

.StatusBar {
  @include cursor-default;
  height: 20px !important;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color_status_bar) !important;
  font-family: var(--theme_font_family) !important;
  font-size: var(--theme_size_small) !important;
}

.StatusBarHidden {
  @include cursor-default;
  transition: height 1s !important;
  height: 0px !important;
  color: var(--theme_text_color_label) !important;
  background-color: var(--theme_background_color_status_bar) !important;
  font-family: var(--theme_font_family) !important;
  font-size: var(--theme_font_size_small) !important;
}
</style>
